<div id="carouselExample" class="carousel slide text-white">
    <div class="carousel-inner">
        <div class="carousel-item active">

            <div class="row mb-2 " >
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Noticias</h3>
                            <div class="mb-1 text-body-secondary">Nov 12</div>
                            <p class="card-text mb-auto">Enterate de las noticias recientes que suceden en tu pais y en todo el mundo.</p>
                            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                                Ver Mas
                                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                            </a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <image href="~/Img/img/descarga (1).jpeg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 text-white">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Musica</h3>
                            <div class="mb-1 text-body-secondary">Dic 10</div>
                            <p class="mb-auto">Escucha las ultimas canciones populares de tus artistas favoritos</p>
                            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                                Ver Mas
                                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                            </a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <image href="~/Img/img/descarga (2).jpeg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
              <div class="row mb-2">
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Videojuegos</h3>
                            <div class="mb-1 text-body-secondary">Nov 12</div>
                            <p class="card-text mb-auto">Lo ultimo en tendencia sobre videojuegos.</p>
                            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                                Ver Mas
                                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                            </a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <image href="~/Img/img/descarga.jpeg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Deporte</h3>
                            <div class="mb-1 text-body-secondary">Nov 11</div>
                            <p class="mb-auto">Ve los juegos de tus deportes favoritos totalmente en vivo.</p>
                            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                                Ver Mas
                                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                            </a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <image href="~/Source/deporte.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Aprendizaje</h3>
                            <div class="mb-1 text-body-secondary">Nov 12</div>
                            <p class="card-text mb-auto">Ve tutoriales, cursos y temas sobre cualquier tipo de asignaturas.</p>
                            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                                Ver Mas
                                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                            </a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <image href="~/Source/aprendizaje.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Tendencia</h3>
                            <div class="mb-1 text-body-secondary">Nov 11</div>
                            <p class="mb-auto">Ve los videos actuales de los que todos estan hablando.</p>
                            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                                Ver Mas
                                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                            </a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <image href="~/Source/tendencia.jpg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>