<footer class="py-5 text-center text-body-secondary bg-body-tertiary footer ">
    <p class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Plantilla de blog creada para </font></font><a href="https://getbootstrap.com/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bootstrap</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> por </font></font><a href="https://twitter.com/mdo"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">mdo</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
    <p class="mb-0">
        <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Volver arriba</font></font></a>
    </p>
</footer>
