<div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
        <a class="nav-item nav-link link-body-emphasis active white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mundo</font></font></a>
        <a class="nav-item nav-link link-body-emphasis white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A NOSOTROS</font></font></a>
        <a class="nav-item nav-link link-body-emphasis white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tecnología</font></font></a>
        <a class="nav-item nav-link link-body-emphasis white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Diseño</font></font></a>
        <a class="nav-item nav-link link-body-emphasis white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cultura</font></font></a>
        <a class="nav-item nav-link link-body-emphasis white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Negocio</font></font></a>
        <a class="nav-item nav-link link-body-emphasis white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Política</font></font></a>
        <a class="nav-item nav-link link-body-emphasis white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Opinión</font></font></a>
        <a class="nav-item nav-link link-body-emphasis white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ciencia</font></font></a>
        <a class="nav-item nav-link link-body-emphasis white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Salud</font></font></a>
        <a class="nav-item nav-link link-body-emphasis white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Estilo</font></font></a>
        <a class="nav-item nav-link link-body-emphasis white-text" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Viajar</font></font></a>
        @Html.ActionLink("FaQ", "Contacto", "Manager", null, new { @class = "nav-item nav-link link-body-emphasis white-text    " })
    </nav>
</div>
